# Ignore configuration files that may contain sensitive information.
build.properties

# Ignore compiler.
mql.exe

# Ignore compiled binary files.
src/*.ex4
src/*.ex5

# Ignore Finder metadata files on Mac
.DS_Store

