# Ignores compiled binary files.
*.ex4
*.ex5

# Ignores temporary files.
*.swp
*~

# Ignores test results in HTML format.
*.htm

# Ignores binary files.
*.ex?

# Ignores Finder metadata files on Mac
.DS_Store

