[submodule "wiki"]
	path = wiki
	url = git@github.com:EA31337/EA31337-Wiki.wiki.git
[submodule "sets"]
	path = sets
	url = git@github.com:EA31337/EA31337-Sets.git
[submodule "src/MQL5-MQL4"]
	path = src/MQL5-MQL4
	url = git@github.com:EA31337/MQL5-MQL4-Common.git
[submodule "EA31337-releases"]
	path = releases
	url = git@github.com:mycognitive/EA31337-releases.git
[submodule "_VM"]
	path = _VM
	url = git@github.com:EA31337/FX-MT-VM.git
