# Ignores configuration files that may contain sensitive information.
build.properties
logs/

# Ignores test results in HTML format.
*.htm

# Ignores binary files.
*.ex?

# Ignores Finder metadata files on Mac
.DS_Store

