---
name: Check

# yamllint disable rule:truthy
on:
  pull_request:
  push:

jobs:
  Pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
      - uses: pre-commit/action@v2.0.0
